# goal
proving or disproving corretness of intended algorithms underlying system 
wrt. certain formal specification or property
-> using formal methods of mathematics

use in: crptographic protocols, combinational circuits, digital circuits, software

## process
provide formal proof on abstract mathematical model of system
- finite state machine, labelled transition system, Petri nets, process algebra
- operational semantics, denotational semantics, axiomatic semantics, Hoare logic

subarea in software
- abstract interpretation, automated theorem proving, type system
- program derivation

## concept
sound technique: verified properties can be logically deduced from semantics
- yield result only once searched entire space of possibilities
unsound: no such guarantee
- search only subset of possibilities

decidable: algorithmic implementations guaranteed to terminate with an answer
undecidable: may never terminate

## verification and validation
Validation: "Are we trying to make right thing?" (suit user's actual need?)
Verification: "Have we made what we were trying to make?" (product conform to spec)













