# goal
proving or disproving corretness of intended algorithms underlying system 
wrt. certain formal specification or property
-> using formal methods of mathematics

use in: crptographic protocols, combinational circuits, digital circuits, software

















